<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAkutano Social App</title>
</head>
<body>
    <h1>Makutano Social App</h1>
    <% if (18 > 21) { %>

        <h2>Join this app</h2>
        <p>This is server side rendering</p>

        <% } else { %>

        <h2>Tokomea!!!!</h2>
        <p>Maeaning, the server(node) will convert this ejs to pure html before rendering/
            sending to the browser/client</p>

    <% } %>

</body>
</html>